body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: #282828;
  color: whitesmoke;
  height: 80px;
}
.logo {
  font-size: 2.25rem;
  font-weight: 600;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 25px;
  gap: 10px;
}
li {
  cursor: pointer;
}
.icon {
  width: 45px;
}
.align-right {
  margin-left: auto;
}
h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 30px 25px;
  text-align: center;
}
p {
  font-size: 1.125rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
}
h3 {
  margin: 0;
  font-weight: 400;
}

.item {
  position: relative;
  max-width: 1200px;
  margin: 30px auto;
}
.item-img {
  display: block;
  width: 100%;
}
.caption {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 25px;
  font-size: 1.125rem;
  line-height: 1.5;
}
.img-banner {
  position: absolute;
  top: 48px;
  left: 0;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px;
  font-size: 1.5rem;
}
button {
  align-self: center;
  border: none;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #912d24;
  cursor: pointer;
}
button:hover {
  background-color: #b04e45;
  border: 1px solid #7a2e28;
}
button:focus {
  outline: none;
  background-color: #b04e45;
  border: 1px solid #7a2e28;
}
.chatbox {
  position: fixed;
  bottom: 8px;
  right: 8px;
  background-color: #dda15e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 5px #999;
  display: flex;
}
.chatbox-img {
  margin: auto;
  width: 60%;
}
.chatbox:hover {
  background-color: #c48f4e;
}
.chatbox:focus {
  outline: none;
  background-color: #a9743d;
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #555555;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1.1rem;
}
a:visited {
  color: #dddddd;
  text-decoration: underline dotted;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: none;
  text-decoration: underline;
}
footer p {
  margin: 5px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.125rem;
  }
  button {
    font-size: 1.125rem;
    padding: 12px 25px;
  }
}
